<!--the templete of this page is at app/views/layouts/main.html.erb-->

<!--for development only, delete this block after finish this page-->
<h3>現在位於 app/views/main/ta_index.html.erb</h3>
<p>這是助教登入後的首頁！</p>
<p>完成本頁面後請把這段文字刪除！</p>
<!--**************************************************************-->

<%= link_to  "新增公告", action: :new_announce %>
<!--list all announces-->
<% @courses.each do |course| %>
    <% course.announces.each do |announce| %>
        <!--the tag of the announce-->
        <%= announce.tag %>
        <!--the topic of the announce-->
        <%= announce.topic %>
        <!--the content of the announce-->
        <%= announce.content %>

        <%= link_to  "修改公告", action: :edit_announce, id: announce %>
        <%= button_to '刪除公告', main_ta_announce(@announce), method: :delete, data: { confirm: "確定刪除此公告?" } %>
    <% end %>
<% end %>