<div class="container-fluid">
	<!-- page header -->	
	<div class="row">
 		<div class="col-lg-12 page-header">
			<h2>
				<%= @announce.topic %>
			</h2>
			<p><%= @announce.course.name %></p>
		</div>
	</div>
	<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="home">
				<div class="well well-lg">
					<p class="lead">標籤：<%= @announce.tag.name %></p>
					<p class="lead">發佈日期：<%= @announce.created_at %></p><!--create time-->
					<p class="lead">deadline : <%= @announce.deadline %></p>
					<p class="lead">內容：<br><%= @announce.content %></p>

					<!--file path: messages/_new.html.erb-->
					<!-- leave a new message -->
					<%= render partial: 'messages/new', locals: { announce: @announce } %>

					<!--file path: messages/_show.html.erb-->
					<!--show messages & replies-->
					<%= render partial: 'messages/show', locals: { announce: @announce } %>
				</div>
			</div>
	</div>
</div>



