<!DOCTYPE html>
<html>
<head>
  <title>E3plus</title>
	
	<!-- add stylesheet to app/assets/stylesheets/style_login.css -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
	<!-- add javascript to app/assets/javascript/script_login.js -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--add things you need-->
</head>
<body>

  <%= yield %>

</body>
</html>
