<!DOCTYPE html>
<html>
    <head>
        <!--add things you need-->
        <title>E3plus</title>
				<%= stylesheet_link_tag "main" %>
    </head>
    <body>
			<div id="wraper">
				<div id="header">
					<div id="logo"> <!--back home-->
        		<%= link_to '回首頁', controller: 'main', action: :home %>
					</div>

					<div id="nav">
						<ul>
        		<!--logout button-->
        		<li><%= link_to '登出', controller: 'login', action: :logout %></li>
						<li><a href="#">行事曆</a></li>
						<li><a href="#">作業清單</a></li>
						</ul>
					</div>
				</div>

				<div id="content">
					<div id="board">
        		<!--rails will replace yield with corresponding html files in app/views/main/-->
        		<%= yield %>
					</div>
				</div>
        
				<div id="sidebar">
						<div id="sidebar_title">
							<h3>課程</h3>
						</div>
        	<!--list all courses and their links-->
        	<ul>
        	    <% @courses.each do |course| %>
        	    <li><%= link_to course.name, controller: 'main', action: :course, id: course.id %></li>
        	    <% end %>
        	</ul>
				</div>

			</div> <!-- end of wraper -->
    </body>
</html>
